body{
    background: #212F3D;
  }

  h1 {
    color: #D5DBDB;
    text-align: center;
    /*margin-bottom: 5%;*/
  }
  
  /* Contenedor de las imagenes*/
  #containerImg {
      margin: 20px auto;
      width: 450px;
      height: 800px;
      background: rgba(20,20,20,0.8);
      /*box-shadow: 0px 0px 10px  2px #777;*/
      padding: 20px;
      border-radius: 10px;
      overflow: hidden;
  }
  
  
  /* Imagenes */
  #contenedorImagenes{
      background:#3498DB;
      width: 200px;
      height: 800px;
      float: left;
      margin-left: 10px;    
  }
  
  #image {
      background: #3498DB;
      width: 200px;
      height: 200px;
      float: right;
      margin-right: 10px;    
  }
  
  .contenedorImagen {
      width: 100px;
      height: 100px;
      float: left;
  }
  
  #containerImage img {
      float: left;
      padding: 1px;
      width: 98px;
      height: 98px;
  }